@import '../variables.sass';

.noteEditor {
	margin-left: 4%;
	.noteColor {
		width: 30px;
		height: 33px;
		border: 0 solid $main-color;
		background-color: $main-color;
		border-radius: 50%;
	}
	h1,
	p,
	span,
	input,
	pre {
		color: #9a9a9a;
		font-family: 'Nunito', sans-serif;
	}
	.noteTitle {
		.titleValue {
			&::selection {
				background: $red; /* Цвет фона */
			}
			height: 80px;
			font-weight: 700;
			border: 0;
			width: 80%;
			background-color: transparent;
			font-size: 64px;
		}
		position: relative;
		&:before {
			position: absolute;
			content: '';
			height: 3px;
			width: 70%;
			background-color: #666666;
			top: 90px;
			left: -5px;
		}
	}
	.noteContent {
		position: relative;
		resize: none;
		background-color: transparent;
		left: 0px;
		color: #9a9a9a;
		font-size: 25px;
		font-weight: 600;
		width: 100%;
		height: 600px;
		padding: 1px;
		text-align: left;
		font-family: 'Nunito', sans-serif;
		border: 0;
		overflow: hidden;
		margin-top: 50px;
		margin-left: 30px;
		max-width: 80%;
	}
}

.noteContent {
	position: fixed;
	height: 100%;
	width: 100%;
	.nonClicked {
		pointer-events: none;
	}
}

.controlPanel {
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	.saveNoteBtn {
		height: 60px;
		width: 60px;
		border: 0px;
		cursor: pointer;
		border-radius: 0.6em;
		background-color: $main-color;
		outline: 2px solid $pre-main-color;
		transition: 150ms ease-in-out;
		&:hover {
			background-color: $pre-main-color;
			transition: 150ms ease-in-out;
		}
	}
	.noteColor-container {
		border-radius: 50%;
		overflow: hidden;
		width: 50px;
		height: 50px;
		position: relative;
		margin-bottom: 20px;
		.noteColor {
			position: absolute;
			left: 50%;
			top: -10px;
			transform: translateX(-50%);
			width: 70px;
			height: 70px;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}
